.container {
    display: flex;
    flex-direction: column;
    form {
        display: flex;
        flex-direction: column;
        min-width: 320px;
    }
    .buttons-container {
        display: flex;
        button {
            flex: 1;
        }
    }
    mat-divider {
        margin: 16px 0 0 4px;
    }
}