.container {
    display: flex;
    flex-direction: column;
    form {
        display: flex;
        flex-direction: column;
        min-width: 320px;
    }
    .buttons {
        display: flex;
        button {
            flex: 1;
        }
    }
}
